In [1]:
import pandas as pd

In [2]:
#file paths to load
school_data_to_load="Resources/schools.csv"
student_data_to_load="Resources/students.csv"

In [3]:
#read school and student data files and store into dataframes
school_data_df=pd.read_csv(school_data_to_load)
student_data_df=pd.read_csv(student_data_to_load)

In [4]:
#merge the data into a single dataframe
school_data_complete_df = pd.merge(student_data_df,school_data_df, how="left", on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#District Summary
#Find the total number of schools
total_schools=len(school_data_complete_df["school_name"].value_counts())
total_schools
#Find the total number of students
total_students=len(school_data_complete_df["Student ID"].value_counts())
total_students
#Find total budget
total_budget=school_data_df["budget"].sum()
total_budget
#Average Math Score
average_math_score=student_data_df["math_score"].mean()
average_math_score
#Average Reading Score
average_reading_score=student_data_df["reading_score"].mean()
average_reading_score
#Percentage of Students with a passing math score
passing_math_score_df=student_data_df.loc[(student_data_df["math_score"]>=70)]
percent_passed_math=(len(passing_math_score_df["Student ID"].value_counts())/len(student_data_df["Student ID"].value_counts()))*100
percent_passed_math
#Percentage of Students with a passing english score
passing_reading_score_df=student_data_df.loc[(student_data_df["reading_score"]>=70)]
percent_passed_reading=(len(passing_reading_score_df["Student ID"].value_counts())/len(student_data_df["Student ID"].value_counts()))*100
percent_passed_reading
#Find percentage of students who passed overall, which means they passed the math and reading parts
passing_overall_df=student_data_df.loc[(student_data_df["reading_score"]>=70)&(student_data_df["math_score"]>=70)]
percent_passed_overall=(len(passing_overall_df["Student ID"].value_counts())/len(student_data_df["Student ID"].value_counts()))*100
percent_passed_overall
#Create a dataframe to hold the above results
district_summary_df=pd.DataFrame({
    "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math": [percent_passed_math],
    "% Passing Reading":[percent_passed_reading],
    "Overall Passing":[percent_passed_overall]
})

district_summary_df["Total Students"]=district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"]=district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"]=district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"]=district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"]=district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"]=district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["Overall Passing"]=district_summary_df["Overall Passing"].map("{:.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [65]:
#Creating the school summary table
#set the index to name and the first column to type
school_type=school_data_df.set_index(["school_name"])["type"]
#Total Students per school 
total_students=school_data_complete_df.groupby("school_name").count()["Student ID"]
#Per School and Per Student Budget
per_school_budget = school_data_complete_df.groupby("school_name").mean()["budget"]
per_student_budget = per_school_budget/total_students
#Average Math Score of each school
average_math_by_school=student_data_df.groupby(["school_name"])["math_score"].mean()
#Average Reading Score of each school
average_reading_by_school=student_data_df.groupby(["school_name"])["reading_score"].mean()
#Percent passed per school math
students_passed_math=school_data_complete_df[school_data_complete_df["math_score"]>=70].groupby("school_name").count()["student_name"]
percent_passed_math=(students_passed_math/total_students)*100
#Percent passed per school reading
students_passed_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70].groupby("school_name").count()["student_name"]
percent_passed_reading=(students_passed_reading/total_students)*100
#Percent overall
students_passed_overall=school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)].groupby("school_name").count()["student_name"]
percent_passed_overall=(students_passed_overall/total_students)*100
#Create the data frame to show school summary
school_summary_df=pd.DataFrame({
    "School Types":school_type,
    "Total Students":total_students,
    "Total School Budget":per_school_budget,
    "Per Student Budget":per_student_budget,
    "Average Math Score":average_math_by_school,
    "Average Reading Score":average_reading_by_school,
    "% Passing Math":percent_passed_math,
    "% Passing Reading":percent_passed_reading,
    "% Passing Overall":percent_passed_overall
    })
#Define Columns for the Data Frame       
school_summary_df = school_summary_df[["School Types","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Passing Overall"]]
#adjust formatting using mapping
school_summary_df["Total School Budget"]=school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Average Math Score"]=school_summary_df["Average Math Score"].map("{:.2f}".format)
school_summary_df["Average Reading Score"]=school_summary_df["Average Reading Score"].map("{:.2f}".format)
school_summary_df["% Passing Math"]=school_summary_df["% Passing Math"].map("{:.2f}%".format)
school_summary_df["% Passing Reading"]=school_summary_df["% Passing Reading"].map("{:.2f}%".format)
school_summary_df["% Passing Overall"]=school_summary_df["% Passing Overall"].map("{:.2f}%".format)
#show dataframe
school_summary_df

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,4976,"$3,124,928.00",628.0,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",644.0,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",581.0,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.68,83.95,93.33%,96.61%,90.33%

In [7]:
#Top  5 Performing Schools by Overall Passing
# set the index and first column
school_type=school_data_df.set_index(["school_name"])["type"]
# total students per school
total_students=school_data_complete_df.groupby("school_name").count()["Student ID"]
# Per School Budget
per_school_budget = school_data_complete_df.groupby("school_name").mean()["budget"]
per_student_budget = per_school_budget/total_students
#Average Math Score
average_math_by_school=student_data_df.groupby(["school_name"])["math_score"].mean()
#Average Reading Score
average_reading_by_school=student_data_df.groupby(["school_name"])["reading_score"].mean()
#Percent passed per school math
students_passed_math=school_data_complete_df[school_data_complete_df["math_score"]>=70].groupby("school_name").count()["student_name"]
percent_passed_math=(students_passed_math/total_students)*100
#Percent passed per school reading
students_passed_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70].groupby("school_name").count()["student_name"]
percent_passed_reading=(students_passed_reading/total_students)*100
#Percent overall
students_passed_overall=school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)].groupby("school_name").count()["student_name"]
percent_passed_overall=(students_passed_overall/total_students)*100
#Create the data frame to show school summary
top_performing_schools_df=pd.DataFrame({
    "School Types":school_type,
    "Total Students":total_students,
    "Total School Budget":per_school_budget,
    "Per Student Budget":per_student_budget,
    "Average Math Score":average_math_by_school,
    "Average Reading Score":average_reading_by_school,
    "% Passing Math":percent_passed_math,
    "% Passing Reading":percent_passed_reading,
    "% Passing Overall":percent_passed_overall
    })
#Define Columns for the Data Frame       
top_performing_schools_df = top_performing_schools_df[["School Types","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Passing Overall"]]
#Apply neccessary sorting
top_performing_schools_df= top_performing_schools_df.sort_values("% Passing Overall", ascending=False)
#adjust formatting using mapping
top_performing_schools_df ["Total Students"]=top_performing_schools_df ["Total Students"].map("{:,}".format)
top_performing_schools_df ["Total School Budget"]=top_performing_schools_df ["Total School Budget"].map("${:,.2f}".format)
top_performing_schools_df ["Average Math Score"]=top_performing_schools_df ["Average Math Score"].map("{:.2f}".format)
top_performing_schools_df ["Average Reading Score"]=top_performing_schools_df ["Average Reading Score"].map("{:.2f}".format)
top_performing_schools_df ["% Passing Math"]=top_performing_schools_df ["% Passing Math"].map("{:.2f}%".format)
top_performing_schools_df ["% Passing Reading"]=top_performing_schools_df ["% Passing Reading"].map("{:.2f}%".format)
top_performing_schools_df ["% Passing Overall"]=top_performing_schools_df ["% Passing Overall"].map("{:.2f}%".format)
#show dataframe
top_performing_schools_df.head(5)

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%

In [8]:
#Bottom 5 Performing Schools
# take previous dataframe but show in ascending order
top_performing_schools_df=top_performing_schools_df.sort_values("% Passing Overall")
top_performing_schools_df.head(5)

,School Types,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%

In [9]:
#Math Scores by grade
#set the index
school_type=school_data_df.set_index(["school_name"])["type"]
#for 9th grade
freshmen_math=student_data_df.loc[student_data_df["grade"]=="9th"].groupby("school_name")["math_score"].mean()
#for 10th grade
sophomore_math=student_data_df.loc[student_data_df["grade"]=="10th"].groupby("school_name")["math_score"].mean()
#for 11th grade
junior_math=student_data_df.loc[student_data_df["grade"]=="11th"].groupby("school_name")["math_score"].mean()
#for 12th grade
senior_math=student_data_df.loc[student_data_df["grade"]=="12th"].groupby("school_name")["math_score"].mean()
#Create the dataframe
math_score_by_grade_df=pd.DataFrame({"School Type":school_type,
              "9th":freshmen_math,
              "10th":sophomore_math,
              "11th":junior_math,
              "12th":senior_math 
             })
math_score_by_grade_df=math_score_by_grade_df[["9th","10th","11th","12th"]]
#format the columns
math_score_by_grade_df["9th"]=math_score_by_grade_df["9th"].map("{:.2f}".format)
math_score_by_grade_df["10th"]=math_score_by_grade_df["10th"].map("{:.2f}".format)
math_score_by_grade_df["11th"]=math_score_by_grade_df["11th"].map("{:.2f}".format)
math_score_by_grade_df["12th"]=math_score_by_grade_df["12th"].map("{:.2f}".format)
#show dataframe
math_score_by_grade_df

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [10]:
#Reading Scores by grade
#set the index
school_type=school_data_df.set_index(["school_name"])["type"]
#for 9th grade
freshmen_reading=student_data_df.loc[student_data_df["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
#for 10th grade
sophomore_reading=student_data_df.loc[student_data_df["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
#for 11th grade
junior_reading=student_data_df.loc[student_data_df["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
#for 12th grade
senior_reading=student_data_df.loc[student_data_df["grade"]=="12th"].groupby("school_name")["reading_score"].mean()
#Create the dataframe
reading_score_by_grade_df=pd.DataFrame({"School Type":school_type,
              "9th":freshmen_reading,
              "10th":sophomore_reading,
              "11th":junior_reading,
              "12th":senior_reading 
             })
reading_score_by_grade_df=reading_score_by_grade_df[["9th","10th","11th","12th"]]
#format the columns
reading_score_by_grade_df["9th"]=reading_score_by_grade_df["9th"].map("{:.2f}".format)
reading_score_by_grade_df["10th"]=reading_score_by_grade_df["10th"].map("{:.2f}".format)
reading_score_by_grade_df["11th"]=reading_score_by_grade_df["11th"].map("{:.2f}".format)
reading_score_by_grade_df["12th"]=reading_score_by_grade_df["12th"].map("{:.2f}".format)
#show dataframe
reading_score_by_grade_df

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [55]:
#Scores by School Spending
schools_spending_df=school_summary_df[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Passing Overall"]]
schools_spending_df
#Bins
bins=[575,600,620,640,660]
group_names=["<$600","$600-620","$620-640","$640-660"]
#new data frame
schools_spending_df["Spending Range Per Student"] = pd.cut(schools_spending_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)
schools_spending_df
#delete unneccessary row
del schools_spending_df["Per Student Budget"]
schools_spending_df
#groupby spending range
schools_spending_df = schools_spending_df.groupby("Spending Range Per Student")
schools_spending_df.max()

<ipython-input-55-a4094d5a0554>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_spending_df["Spending Range Per Student"] = pd.cut(schools_spending_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Range Per Student,,,,,
<$600,83.80,83.99,94.13%,97.04%,91.33%
$600-620,83.84,84.04,94.59%,95.95%,90.54%
$620-640,83.42,83.85,93.39%,97.31%,90.95%
$640-660,77.29,81.18,68.31%,81.32%,54.29%

In [76]:
#Scores by School Size
school_size_df=school_summary_df[["Total Students","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Passing Overall"]]
school_size_df
#bins
bins=[400,1000,2000,5000]
group_names=["small(<1000)","medium(1000-2000)","large(2000-5000)"]
#adjust data frame with new column
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], bins, labels=group_names, include_lowest=True)
school_size_df
#delete unneccessary row
del school_size_df["Total Students"]
#groupby dataframe
school_size_df = school_size_df.groupby("School Size")
school_size_df.max()

<ipython-input-76-51cc2ddebcd3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], bins, labels=group_names, include_lowest=True)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
small(<1000),83.84,84.04,94.59%,96.25%,90.54%
medium(1000-2000),83.68,83.98,94.13%,97.31%,91.33%
large(2000-5000),83.27,83.99,93.87%,96.54%,90.58%

In [ ]:
#Scores by School Type

In [114]:
school_type_df=school_summary_df[["School Types","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Passing Overall"]]
school_type_df

,School Types,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,83.68,83.95,93.33%,96.61%,90.33%